.App {
  text-align: center;

  nav {
    .nav-logo {
      width: 3rem;
      height: 3rem;
    }
  }

  .main-container {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
}